*{
    box-sizing: border-box;
}



.container-box{
    width: 60vw;
    height: 50vh;
}

main{
    height: 45%;
}

aside{
    min-width: 30%;
}

footer{
    height: 55%;
    overflow:hidden;
}

article{
    min-height: 30vh;
    box-shadow: 0px 10px 15px gray;
}

main > h1{
    margin-bottom: 0;
    width: 28%;
}