
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container-article{
    margin: auto;
    min-width: 556px;
    max-width: 996px;
}


span:nth-child(1){
    font-weight: 700;
}

.fresh-list{
    box-shadow: 0px 0px 10px green;
}

.header-list div span{
    padding: 8px;
}

.header-list img{
    width: 100%;
}

.bottom-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.bottom-list span{
    padding: 0px!important;
    justify-content: flex-end;
}

.first{
    background-image: url(/Homework11/MainPhotos/revolt-164_6wVEHfI-unsplash.jpg);
    background-size: cover;
}

.second{
    background-image: url(/Homework11/MainPhotos/andrik-langfield-0rTCXZM7Xfo-unsplash.jpg);
    background-size: cover;
    background-position-y: center;
}

.third{
    background-image: url(/Homework11/MainPhotos/diana-light-nvQemFKRBUo-unsplash.jpg);
    background-size: cover;
    background-position-y: center;
}

.ref{
    color: white;   
}

/* END MAIN */

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    margin-top: 100px;
    border-bottom: 16px;
}

.card{
    border: 0px!important;
    border-radius: 0px!important;
}

.card img{
    border-radius: 0px!important;
}

.card-title{
    text-decoration: underline;
    text-align: center;
}

.card-body{
    text-align: center;
}

.card-body div span:nth-child(1){
    color: rgb(185, 53, 53);
    font-size: 22px;
}

.card-body div span:nth-child(2){
    opacity: 0.7;
    text-decoration: line-through;
    color: rgb(36, 36, 36);
    font-size: 22px;
}

.card-body button{
    background-color: gray;
    border: none;
    box-shadow: 0px 0px 15px rgb(166, 166, 231);
}
